body {
    margin: 0;
    color: #2e3d4a;
    background-color: #eef3f7;
    font-family: Arial;
 
}

img {
    width: 43%;
    height: 17vw;
    object-fit: cover;
    box-shadow: 3px 3px 3px #3a3838;
}

header
{
    background-image: url(imagenes/maderaNav.jpg);
    position: fixed;
    background-size: cover;
}


header img
{
    float: left;
    width: 17%;
    height: 11vh;
    padding: 1%;
    box-shadow: unset;
}

nav ul {
    margin: 0;
    padding-left: 27%;
}

nav li {
    float: left;
    width: 13%;
    margin-left: 3%;
    margin-right: 5%;
    margin-top:3%;
    padding: 1%;
    list-style: none;
    background-color: burlywood;
    box-shadow: 5px 5px 2px rgb(114, 49, 6);
    border-top: 5px solid green;
    border-radius: 8px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

nav a {
    color: #794718;
    font-size: 70%;
    font-weight: bold;
    text-decoration: none;
}


header {
    width: 100%;
}


.SeccionI div{
    padding: 8%;
    padding-top: 16%;
    background-image: url("imagenes/1.png");
    background-size: 100%;
    text-align: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
}


.SeccionI div h1 {
    margin: 0;
    font-size: 300%;
    font-weight: normal;
}


.SeccionI div p {
    margin: 1%;
    font-size: 105%;
    background-color: #c46c1b;
    display: inline-block ;  
}


h3 {
    margin-top: 0;
    font-size: 75%;
}

main section{
    width: 100%;
    clear: both;
    background-color: #805e36;
}


.fila {
    width: 92%;
    padding: 4%;
}

.texto {
    width: 45%;
    padding: 1%;
}

h2 {
    margin: 3%;
    font-size: 210%;
    font-weight: normal;
    font-family: 'Press Start 2P', cursive;
    color: #4eb957;
    text-shadow: 2px 2px 2px #000;
}


p {
    margin: 3%;
    font-size: 93%;
    line-height: 1.45;
    color: #f7f0e0;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}


.izquierda {
    float: left;
    margin-left: 5%;
}


.derecha {
    float: right;
    margin-right: 5%;
}


.limpiar {
    clear: both;
}


.reseñas {
    width: 92%;
    padding: 4%;
    clear: both;
    background-color: #e7d6bb;
   
}


.reseñas h2 {
    text-align: center;
    padding-bottom: 1%;
   
}

.reseñas div article {
    width: 80%;
    padding: 4%;
    margin-bottom: 8.5%;
   
}

.caja {
    list-style: none;
    text-align: left;
    background-color: burlywood;
    box-shadow: 5px 5px 5px 5px rgb(114, 49, 6);
    border-top: 6px solid green;
    border-radius: 8px;
    font-family: 'Press Start 2P', cursive;
}


.reseñas article img {
    float: left;
    width: 10%;  
    height: 4vw;
}


.reseñas article p {
    float: right;
    width: 86%;
    margin: 0;
    font-size: 82%;
    line-height: 1.4;
    color: #000000;
    padding-top: 1%;
    padding-right: 2%;
   
}


.reseñas img {
    height: 22vw;
}


.menu .fila {
    padding-top: 3%;    
    padding-bottom: 3%;
    color: #000;
}




.menu .fila article {
    width: 45%;
    padding: 1%;
   
}


.menu .fila article h2 {
    margin-bottom: 2%;
}


.menu .fila article ul {
    width: 88%;
    margin: 0;
    padding: 0;
    list-style: none;
}


.menu .fila article li h3 {
    margin: 0;
    padding-top: 1.3%;
    border-bottom: 1px solid #78aeda;
    font-size: 100%;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
}


.menu .fila article li p {
    margin: 0;
    padding: 1%;
    color: #4c86b5;
    font-size: 76%;
    color: #dac691;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.encuesta {
    width: 90%;
    padding: 5%;
    text-align: center;
    background-color: #f7f0e0;
   
}
.formulario {
    width: 69%;
    padding-left: 31%;
   
}
form {
    width: 40%;
    padding: 6%;

}


.encuesta form p {
    margin-top: 4%;
    font-size: 85%;
     color:#000;
}


.encuesta input,
.encuesta select,
.encuesta textarea {
    width: 100%;
    padding: 2%;
    border: 1px solid #cbd6df;
    color: #2e3d4a;
    background-color: #f8fafc;
}


.encuesta textarea {
    height: 8vw;
}


.encuesta button {
    width: 58%;
    margin-top: 8%;
    margin-left: 21%;
    padding: 3%;
    border: 0;
    color: #ffffff;
    background-color: #6658f2;
    font-weight: bold;
}


footer {
    width: 96%; 
    padding: 2%;
    background-color: #dde9e2;
    text-align: center;
}



